@model IEnumerable<PrjTutor.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students View</h1>


<a class="m-3 btn btn-primary" asp-action="Create">Add a New Student</a>
<button class=" btn btn-secondary  type="button" data-bs-toggle="collapse" data-bs-target="#studentTable" aria-expanded="false" aria-controls="studentTable">
    <i class="bi bi-table"></i> Table View
</button>

<div class="collapse" id="studentTable">
    <partial name="_StudentTable"/>
</div>


<div class="container gap-3 d-flex w-full vh-75">

    @foreach (var student in Model) {
        <div class="card w-25 border-primary" >
            <div class="card-body">
                <p class="card-title fw-bold">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-primary rounded-pill text-decoration-none text-white" asp-action="Details" asp-route-id="@student.StudentId">
                            @Html.DisplayFor(modelItem => student.Name)
                        </a>
                        <a class="my-auto" asp-action="Edit" asp-route-id="@student.StudentId">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                </p>
                <p class="card-subtitle">
                    @Html.DisplayFor(modelItem => student.CourseEnrolled)
                </p>

                <p class="card-link">
                    <a class="d-flex" asp-controller="Assignment" asp-action="Create" asp-route-id="@student.StudentId">Evaluate an Assignment</a>
                    <a asp-controller="Feedback" asp-action="Create" asp-route-id="@student.StudentId">Create Feedback</a>
                </p>
            </div>
        </div>
    }
</div>

