@model IEnumerable<PrjTutor.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Feedback</h1>
<div class="m-3">


<p>
    <a class=" btn btn-primary" asp-action="Create">Create a Feedback entry</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekEnding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weakness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.WeekEnding.ToShortDateString()</td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weakness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningObjective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedbackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

