@model IEnumerable<PrjTutor.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Assignments</h1>

<div class="d-flex flex-row gap-2 my-2">
    <div class="btn btn-primary">
        <a class="text-white text-decoration-none" asp-action="Create">Create New</a>
    </div>
    <button class=" btn btn-secondary  type="button" data-bs-toggle="collapse" data-bs-target="#assignmentTable" aria-expanded="false" aria-controls="assignmentTable">
        <i class="bi bi-table"></i> Table View
    </button>
</div>

<div class="collapse" id="assignmentTable">
    <partial name="_AssignmentTable"/>
</div>

<div class="gap-3 d-flex w-full vh-75">
    @foreach (var assignment in Model) {
        <div class="card w-25 shadow-lg rounded-md">
            <div class="card-body">
                <div class="d-flex card-title justify-content-between">
                    <p class="text-sm fw-bold">

                        @Html.DisplayFor(modelItem => assignment.Title)
                    </p>
                    <p class="text-sm">
                        @assignment.DueDate.ToString("MM/dd/yyyy")
                    </p>
                </div>
                <div class="card-subtitle fw-lighter">
                    @Html.DisplayFor(modelItem => assignment.Type)
                </div>
                <div class="card-text mt-1 gap-2">
                    <a class="btn btn-secondary"  asp-action="Details" asp-route-id="@assignment.AssignmentId">Details</a>
                    <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#classList"> <i class="bi bi-table me-1"></i>View grades</button>
                    <div>
                        @ViewData["AverageGrades"]
                    </div>
                        <table id="classList" class="table table-striped">
                            <tbody>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                            @foreach (var evaluation in assignment.Evaluations) {
                                    
                                    <tr>
                                        <td>@evaluation.Student.Name</td>
                                        <td>@evaluation.Grade</td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                </div>
                

            </div>

        </div>
    }
    
</div>


